.hero{
    background: #000;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80vh;
    display: table;
  color: #ffffff;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

.hero .content{
    width: 60%;
    padding: 12rem 5rem 5rem 5rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 55;
}

.hero .content .hero__name{
    font-size: 2.5rem;
    color: #E18905;
    text-transform: uppercase;
    transition: ease-in .2s;
}

.hero .content .hero__description{
    color: rgba(179, 179, 179, 0.837);
    margin: 2rem 0;
}

.hero .hero__btn{
    color: rgba(12, 12, 12, 0.837);
    background: #E18905;
    padding: .8rem 3rem;
    border: unset;
    border-radius: 5px;
    transition: ease .5s;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.hero .hero__btn > i{ margin-right: 1rem;    transition: ease-in-out 1s;}

.hero .hero__btn:hover{
    color: rgb(33, 33, 33);
    background: white;
    transform: scale(1.2);
    transition: ease .3s;
    transform: scale(1.2);
}

.hero .hero__btn:hover > i{
    transform: rotate(360deg);
    transition: ease-in-out 1s;
}


/* MEDIA SCREEN */
@media screen and (max-width:995px) {
  .hero .content{
    width: 70%;
    padding: 7rem 5rem 3rem 5rem;
  
  }
}

@media screen and (max-width:845px) {
  .hero .content{
    width: 90%;
    padding: 7rem 5rem 3rem 5rem;
  }
  .hero .content .hero__name{
    font-size: 1.5rem;
    transition: ease-in .2s;

}

.hero .hero__btn{
  padding: .6rem 2rem;
  letter-spacing: 1.5px;
}
}






/* Background - effect */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important; }
  
  html, body {
    height: 100%; }
  
  body {
    display: table;
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 1.6;
    position: relative;
}
  
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw; }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(87, 85, 85, 0.227);
    overflow: hidden; }

    .line::after {
      content: '';
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
      animation: drop 7s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }
    .line:nth-child(1) {
      margin-left: -25%; }
      .line:nth-child(1)::after {
        animation-delay: 2s; }
    .line:nth-child(3) {
      margin-left: 25%; }
      .line:nth-child(3)::after {
        animation-delay: 2.5s; }
  
  @keyframes drop {
    0% {
      top: -50%; }
    100% {
      top: 110%; } }

/* Circle background animation */
.circles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw; }
  
  .circle {
    position: absolute;
    width: 30%;
    height: 50%;
    border-radius: 50%;
    top: -10%;
    right: -15%;
    background: rgba(233, 171, 14, 0.070);
    overflow: hidden; }

    .circle::after {
      content: '';
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(to bottom, #f3a10a1c, #f3a10a00 75%, #f3a10a00 100%);
      animation: drop 7s 0s;
      animation-fill-mode:backwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }
 
  
  @keyframes drop {
    0% {
      top: -50%; }
    100% {
      top: 110%; } }

  /* Circle 2 */
  .circle2{
        position: absolute;
        width: 30%;
        height: 50%;
        border-radius: 50%;
        top: 70%;
        left: -15%;
        background: rgba(233, 171, 14, 0.070);
        overflow: hidden;
    transition: ease-out 2s;
    }
.circle2:hover{
transform: scale(1.8);
transition: ease-in 1s;
}


/*



*/