.navbar{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    background: #E18905;
    color: white;
    height: 70px;
}

.navbar .logo{
    margin-left: 4rem;
    font-weight: bold;
    font-size: 2rem;
}

.navbar .contact{
    margin-left: auto;
    margin-right: 4rem;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.72);
}
.navbar .contact i{
    margin-right: .4rem;
    font-size: .9rem;
}

.navbar .contact .icon-link{
    font-size: 1.5rem;
    margin-right: 1.5rem;
    color: rgb(17, 3, 3);
    transition: ease-in .2s;
}

.navbar .contact .icon-link:hover{
transform: scale(1.2);
transition: ease-in .2s;
}


/* Media Queries */

@media screen and (max-width:720px){
    .navbar{
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: space-around;
    }
    .navbar .contact{
        margin-left: 0;
        margin-right: 0;
        font-size: .9rem;
        color: rgba(255, 255, 255, 0.72);
    }
    .navbar .contact i{
        color: blanchedalmond;
    }
    .navbar .logo{
    display: none;
    }

    .navbar .contact span{
        display: none;
    }
    
}