.project{
    width: 100%;
    height: 550px;
    text-align: center;
}

.project__title{
    margin-top: 1.7rem;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #E18905;
}

.projects__container{
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project .project__btn{
    color: rgba(12, 12, 12, 0.837);
    background: #E18905;
    padding: .8rem 3rem;
    border: unset;
    border-radius: 5px;
    transition: ease .5s;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: .2s ease;
}

.project__btn:hover{
    transform: scale(.9);
    transition: .1s ease;

}
/* Media Queries */

@media screen and (max-width:1000px){
    .project{
        height:auto;
    }
}