.myskills__me{
    color: #fff;
    background: black;
    width: 100%;
    height: 550px;
    margin: 0;
    padding: 2rem;
}

.myskills__title{
    margin-top: 1.7rem;
    font-weight: bold;
    font-size: 2.5rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}

/* Media query */

@media screen and (max-width:600px) {
    .cards{
        grid-template-columns: 1fr;
    }
    .myskills__me{
        height: auto;
    }
}